*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  body{
    background-color: #0EA5E9;
  }
  
  #card{
    position: relative;
    border-radius: 15px;
    padding-top: 60px;
    background-color: #CBD5E1;
    margin: auto;
    margin: 102px 12px 0px 12px;
    padding-bottom: 30px;
    
    max-width: 600px;
  }
  
  @media (min-width: 600px){
    #card{
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  #card #card-profile{
    width: 120px;
    border-radius: 100%;
    position: absolute;
    top: -60px;
    left: calc(50% - 60px);
    outline: 12px solid #CBD5E1;
  }
  
  #card header h1{
    text-align: center;
    margin-top: 30px;
    font-size: 1.5em;
  }
  
  #card header #description{
    margin-top: 12px;
    text-align: center;
    font-style: italic;
    font-family: serif;
    font-size: 1.2em;
  }
  
  #card main section#social-media ul.links-list{
    display: flex;
    gap: 9px;
    justify-content: center;
    margin-top: 30px;
  }
  
  #card main section#social-media ul.links-list li a{
    display: block;
    text-decoration: none;
    width: 42px;
    height: 42px;
    color: black;
    border-radius: 100%;
    background-color: #F8FAFC;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;
  }
  
  #card main section#links ul.links-list{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 18px;
  }
  
  #card main section#links ul.links-list li a{
    display: block;
    margin: 0px 12px;
    padding: 12px;
    padding-left: 21px;
    text-decoration: none;
    border-radius: 21px;
    color: black;
    font-size: 1.2em;
    background-color: #F8FAFC;
  }
  
  .visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  
  .links-list{
    list-style: none;
  }
  
  #card main section ul.links-list li a:hover{
    outline: 6px solid #0EA5E9;
  }