*{
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', sans-serif;
}

header .cover-image{
    background-color: aqua;
    background: url('assets/cover_images/dev.jpg');
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    width: 100%;
    height: 150px;
}

header .cover-image.fit{
    background: url('assets/cover_images/fit.jpg');
}

header .profile-picture{
    position: relative;
    height: 45px;
}

header .profile-picture img{
    width: 90px;
    border-radius: 100%;
    position: absolute;
    top: -45px;
    left: calc(50% - 45px);
    border: 3px solid #fff;
}

header h1{
    margin-top: 18px;
    text-align: center;
}

nav{
    display: flex;
    justify-content: center;
    margin-top: 18px;
}

nav ul{
    list-style: none;
    display: flex;
}

nav ul li a{
    display: block;
    padding: 9px;
    border: 3px solid darkblue;
    text-decoration: none;
    width: 60px;
    text-align: center;
    color: black;
    font-size: 21px;
}

nav.fit ul li a{
    border: 3px solid darkred;
}

nav ul li:first-child a{
    border-radius: 9px 0 0 9px;
}

nav ul li:last-child a{
    border-radius: 0 9px 9px 0;
}

nav ul li a.open{
    background-color: darkblue;
    color: white;
}

nav.fit ul li a.open{
    background-color: darkred;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

main ul.links{
    max-width: 600px;
    margin: auto;
    list-style: none;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 180px);
    grid-template-rows: repeat(10, 180px);
    gap: 18px;
}

main ul.links li a{
    display: block;
    width: 100%;
    height: 100%;
    border: 3px solid #f0f0f0;
    box-shadow: 0 0 15px 6px #f0f0f0;
    border-radius: 30px;
    position: relative;
    color: black;
    transition: transform 0.3s ease;

    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: contain;
}

main ul.links li a:hover{
    transform: scale(1.05);
}

main ul.links li a img{
    height: 45px;
    position: absolute;
    top: 15px;
    left: 15px;
}

main ul.links li a .label{
    position: absolute;
    bottom: 20px;
    left: 15px;
    font-size: 21px;
    background-color: white;
    padding: 6px;
    border-radius: 4px;
}

main ul.links li[columns='2']{
    grid-column: span 2;
}

main ul.links li[columns='3']{
    grid-column: span 3;
}

main ul.links li[rows='2']{
    grid-row: span 2;
}

main ul.links li[rows='3']{
    grid-row: span 3;
}