* {
  margin: 0;
  padding: 0;
  font-family: 'Bebas Neue', cursive;

}

#card {
  position: relative;
  border-radius: 15px;
  padding-top: 60px;
  margin: auto;
  margin: 102px 12px 0px 12px;
  padding-bottom: 30px;
  max-width: 600px;
}

@media (min-width: 600px) {
  #card {
    margin-left: auto;
    margin-right: auto;
  }
}

#card #card-profile {
  width: 120px;
  border-radius: 100%;
  position: absolute;
  top: -60px;
  left: calc(50% - 60px);
}

#card header h1 {
  text-align: center;
  margin-top: 30px;
  font-size: 2em;
}

#card main section#social-media ul.links-list {
  display: flex;
  gap: 9px;
  justify-content: center;
  margin-top: 30px;
}

#card main section#social-media ul.links-list li a {
  display: block;
  text-decoration: none;
  width: 42px;
  height: 42px;
  color: black;
  border: 1px solid #eee;
  box-shadow: 0 0 15px #eee;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 21px;
  position: relative;
}

#card main section#social-media ul.links-list li a:after{
  content: attr(aria-label);
  border: 1px solid #ddd;
  background-color: white;
  width: 210px;
  position: absolute;
  padding: 9px;
  text-align: center;
  bottom: calc(100% + 9px);
  display: none;
  border-radius: 6px;
  box-shadow: 0 0 15px #eee;
}

#card main section#social-media ul.links-list li a:hover:after{
  display: block;
}

#card main section#links ul.links-list {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

#card main section#links ul.links-list li a {
  display: block;
  margin: 0px 12px;
  padding: 12px;
  padding-left: 21px;
  text-decoration: none;
  border-radius: 6px;
  box-shadow: 0 0 15px #eee;
  color: black;
  font-size: 1.5em;
  border: 1px solid #eee;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.links-list {
  list-style: none;
}
#card main section#social-media ul.links-list li a:hover,
#card main section#social-media ul.links-list li a:focus,

#card main section#links ul.links-list li a:hover,
#card main section#links ul.links-list li a:focus{
  transform: scale(1.1);
  border: 1px solid #333;
}

#card main section#social-media ul.links-list li a,
#card main section#links ul.links-list li a{
  transition: 0.3s transform;
}