/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/app/game/main.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
main{
    max-width: 600px;
    margin: auto;
}
/*!*********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/app/game/header.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************/
header{
    display: flex;
    align-items: center;
    justify-content: center;
}
header img{
    display: block;
    height: 60px;
    padding: 15px;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/app/game/place-photo.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
section#place-photo img{
    width: 100%;
}
/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/app/game/question.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/
section#question .question-title{
    text-align: center;
    padding: 15px;
}

section#question ul.possible-answers{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 15px;
    grid-gap: 5px;
    gap: 5px;
}

section#question ul.possible-answers li button{
    display: block;
    background-color: white;
    border: 2px solid #333;
    width: 100%;
    padding: 15px;
    font-size: 18px;
    border-radius: 15px;
    color: black;
    cursor: pointer;
}

section#question ul.possible-answers li:not(.wrong-answer):not(.correct-answer) button:hover{
    background-color: #eee;
}

section#question ul.possible-answers li.wrong-answer button{
    background-color: darkred;
    color: white;
}

section#question ul.possible-answers li.correct-answer button{
    background-color: darkgreen;
    color: white;
}
