*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #393e46;
}

main{
    margin-top: 30px;
}

.handwritten-font{
    font-family: 'Pacifico', cursive;
}

.serif-font{
    font-family: 'Merriweather', serif;
}

.sans-serif-font{
    font-family: 'Montserrat', sans-serif;
}

main > h1{
    color: white;
    max-width: 900px;
    margin: auto;
    margin-bottom: 60px;
    margin-top: 60px;
    text-align: center;
}

#skip-navigation{
    position: absolute;
    color: #eee;
    text-decoration: none;
    padding: 15px;
    border: 3px solid #32e0c4;
    top: -100%;
}

#skip-navigation:focus{
    top: 0;
}