header.page-header{
    background-color: #222831;
}

@media (min-width: 900px){
    header.page-header .content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 900px;
        margin: auto;
    }
}

header.page-header .content #site-name{
    height: 90px;
    display: flex;
}

header.page-header .content #site-name a{
    display: block;
    font-size: 36px;
    font-family: 'Pacifico', cursive;
    color: #eee;
    text-decoration: none;
    margin-left: 15px;
    border-bottom: 3px solid transparent;
}

@media (max-width: 900px){
    header.page-header .content #site-name a{
        margin: auto;
    }
}

@media (min-width: 900px){
    header.page-header .content #site-name a{
        align-self: center;
    }
}

header.page-header .content #site-name a:hover{
    border-bottom: 3px solid #eee;
}

header.page-header .content section#socials{
    background-color: #222831;
    display: flex;
}

header.page-header .content section#socials ul{
    list-style-type: none;
    display: flex;
    margin: auto;
}

header.page-header .content section#socials li{
    padding: 15px;
    align-self: center;
}

header.page-header .content section#socials li a{
    color: #eee;
    font-size: 27px;
}

header.page-header .content section#socials li a:hover{
    border-bottom: 3px solid #eee;
}

header.page-header .content nav{
    background-color: #222831;
}

header.page-header .content nav ul{
    list-style: none;
    max-width: 900px;
    margin: auto;
    display: flex;
    overflow-x: auto;
}

header.page-header .content nav ul li a{
    color: #eeeeee;
    display: block;
    text-decoration: none;
    padding: 15px;
    text-transform: uppercase;
    white-space: nowrap;
}

header.page-header .content nav ul li a:hover{
    text-decoration: underline;
}

header.page-header .content nav ul li a[aria-current="page"]{
    /* text-decoration: underline; */
    font-weight: bold;
}