header{
    background-color: white;
    border-bottom: 1px solid black;
}

header h1{
    text-align: center;
    padding: 15px 0;
}

header .description{
    padding: 15px 0;
    text-align: center;
}